.margin-all-search-products{
    background-color: white;
    max-width: 1100px;
    margin: 0 auto;
}



.margin-general{
    margin-bottom: 30px;
}

.container--image-search{
    width: 100%;

}


.size-image-product{
    width: 250px;
    height: 200px;
    margin: 0 auto;
    object-fit: contain;
}


.description-product-search{
    display: flex;
}

.description-text{
    margin: 0 50px;
}

.icon-search-love{
    align-items: end;
    margin-left: auto;
}



.button-love-search{
    padding-top: 10px;
    padding-right: 40px;

}

@media (min-width: 600px) { 
    .margin-general {
        display: flex;
        align-items: center;
        gap: 40px; 
        margin-bottom: 20px;
    }

    .image-search-product {
    
        flex: 0 0 200px; 
        height: auto;
        margin-left: 40px;
    }

    .description-product-search {
        margin: 0;
        flex: 1; 
        min-width: 0; 
    }
    .description-text{
        margin: 0;
    }
   
}


