.margin-all-search-products{
    background-color: white;
}

.card-search-product-general{
    margin-top: 10px;
    /* display: grid; */
}

.margin-general{
    grid-template-columns: 45% 55%;
    
    margin-bottom: 30px;
    /* border-bottom: 1px solid gray; */
    
}

.container--image-search{
    width: 100%;
    height: 130px;
    /* background: red; */
   
}



.size-image-product{
    max-width: 200px;
    height: auto;
    margin-left: 100px;
    object-fit: cover;
}






.text-search-descrition{
    display: grid;
    grid-template-columns: 1fr auto; /* Dos columnas, la primera ocupa todo el espacio disponible, la segunda es automática (tamaño del contenido) */
    gap: 10px; /* Espaciado entre las columnas */
    align-items: center; /* Alinea los elementos verticalmente en el centro */
    
}


.button-love-search{
    /* display: grid; */
    padding-top: 10px;
    padding-right: 10px;
    align-self: flex-end;
    /* margin-left: 100px; */
    /* margin-left: auto; */
}

@media (min-width: 640px) {
    .margin-all-search-products{
        margin-left: 8%;
        margin-right: 5%;
        border: 1px solid rgb(198, 198, 198);
        
    }
   
}

@media (min-width: 768px) {
    .margin-all-search-products{
        margin-left: 7%;
        margin-right: 5%;
    }


    .margin-general{
        
        margin-bottom: 50px;
        
    }
   
}


@media (min-width: 1024px) {
    .margin-all-search-products{
        margin-left: 6%;
        margin-right: 5%;
    }

    .margin-general{
        
        margin-bottom: 120px;
        
    }
   
}

@media (min-width: 1480px) {
    .margin-all-search-products{
        margin: auto;
        max-width: 1300px;
        
    }
    

    .margin-general{
        
        margin-bottom: 120px;
        
    }
   
}


