@media (min-width: 640px){
    .margin-general-Cart{
        display: grid;
        grid-template-columns: 70% 30%;
        gap: 10px;
    }

    .container-page-cart{
        height: 234px;
        display: absolute;
        border-radius: 10px;
        border: 0.5px solid gray;
        /* width: 40%; */
    }

    .button-page-cart{
        position: relative;
        background-color: blue;
        color: white;
        width: 150px;
        align-items: center;
        justify-items: center;
        font-size: 1rem;
        padding: 7px;
        border-radius: 10px;
        left: 5%;
        margin-top: 50px;
    }

    .button-deleteProducts-cart{
        position: relative;
        margin-top: 15px;
        background-color: red;
        color: white;
        width: 120px;
        align-items: center;
        justify-items: center;
        font-size: 1rem;
        padding: 6px;
        border-radius: 10px;
        left: 15%;
    }

    .description-total-cart{
        display: absolute;
        font-weight: 700;
        margin-left: auto;
        margin-right: 10px;
    }

    .button-delete-one{
        position: relative;
        color: red;
        left: 25%;
        cursor: pointer;
    }


}

@media (min-width: 650px){
    .button-page-cart{
        left: 12%;

    }

    .button-deleteProducts-cart{
        left: 20%;
    }
}

@media (min-width: 750px){
    .button-page-cart{
        left: 18%;

    }

    .button-deleteProducts-cart{
        /* left: 24%;  */
    }
}

@media (min-width: 850px){
    .button-page-cart{
        left: 18%;
        width: 180px;
    }

    .button-deleteProducts-cart{
        /* left: 28%;  */

    }
}

@media (min-width: 1024px){
    .button-page-cart{
        left: 20%;

    }

    .button-deleteProducts-cart{

        width: 200px;
    }

    .margin-general-Cart{
        grid-template-columns: 71% 26%;
        gap: 40px;
    }
}

@media (min-width: 1536px){
    .button-page-cart{
        left: 21%;

    }

    .button-deleteProducts-cart{
        /* left: 27%;  */
    }
}

@media (min-width: 1736px){
    .button-page-cart{
        left: 24%;

    }

    .button-deleteProducts-cart{
        /* left: 29%;  */
    }
}



@media (max-width: 640px) {
    .container-page-cart{
        width: 100%;
        /* position: fixed; */
        margin-top: 20px;
        border-radius: 5px;
    }

    .button-page-cart{
        position: relative;
        background-color: blue;
        color: white;
        width: 200px;
        font-size: 1rem;
        padding: 7px;
        border-radius: 10px;
        margin-left: 30% ;
        margin-top: 10px;
        margin-bottom: 20px;
    }

    .description-total-cart{
        display: absolute;
        font-weight: 700;
        margin-left: auto;
        margin-right: 10px;
    }


}
